<%
	var title = typeof title !== 'undefined' ? title : 'Legado del Bicentenario'
		,	description = typeof title !== 'undefined' ? title : 'Conocé los avances legislativos concretados en este siglo, sobre todo los concebidos como ampliación de derechos, que impactan en la forma de vernos y pensarnos como sociedad.';
%>
<!doctype html>
<!--[if lt IE 10]> <html class="no-js lt-ie10" lang="es" dir="ltr" itemscope itemtype="http://schema.org/WebSite"> <![endif]-->
<!--[if gt IE 10]><!--> <html class="no-js" lang="es_LA" dir="ltr" itemscope itemtype="http://schema.org/WebSite"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- DNS Prefetchs -->
	<link rel="dns-prefetch" href="//connect.facebook.net/">
	<link rel="dns-prefetch" href="//platform.twitter.com/">
	<link rel="dns-prefetch" href="//www.google-analytics.com/">

	<title itemprop="name"><%= title %></title>

	<!-- Schema.org -->
	<meta name="url" itemprop="url" content="http://bicentenario.herokuapp.com/">
	<meta name="image" itemprop="image" content="http://bicentenario.herokuapp.com/images/banner.png">
	<meta name="description" itemprop="description" content="<%= description %>">

	<!-- Open Graph -->
	<meta property="og:type" content="website">
	<meta property="og:locale" content="es_LA">
	<meta property="og:title" content="<%= title %>">
	<meta property="og:site_name" content="Legado del Bicentenario">
	<meta property="og:url" content="http://bicentenario.herokuapp.com/">
	<meta property="og:description" content="<%= description %>">
	<meta property="og:image" content="http://bicentenario.herokuapp.com/images/banner.png">
	<meta property="og:image:type" content="image/png">
	<meta property="og:image:width" content="1200">
	<meta property="og:image:height" content="627">

	<meta property="fb:app_id" content="144441392317207">
	<!-- Twitter Card -->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@Bicentenario_uy">
	<meta name="twitter:creator" content="@DATAuy">

	<link rel="icon" href="favicon.png">

	<%- stylesheets %>
	<link rel="stylesheet" href="styles/font-awesome.css">
	<link rel="stylesheet" href="styles/main.css">
</head>
<body class="Site">
	<!--[if lt IE 10]>
		<p class="browsehappy">Usted esta usando un navegador <strong>viejo</strong>. Por favor <a href="http://browsehappy.com/">actualize su navegador</a> para mejorar su experiencia.</p>
	<![endif]-->

	<% include header %>

	<main class="HolyGrail Site-content confetti-container" role="main">

		<div id="js-confetti-background" class="confetti-background"></div>

		<%- body -%>
	</main>

	<% include footer %>

	<div id="fb-root"></div>

	<%- scripts %>
	<script src="scripts/removeFacebookAppendedHash.js"></script>
	<script src="scripts/requestAnimationFrame.js"></script>
	<script src="scripts/confetti.js"></script>
	<script src="scripts/utils.js"></script>
	<script src="scripts/main.js"></script>
	<script src="scripts/sharing.js"></script>
</body>
</html>
