<% layout('../../../layouts/default') %>

<section class="HolyGrail-body" style="z-index: 2;">
    <div class="HolyGrail-content" style="padding-top: 60px; position: relative;">
        <div class="text-center jumbotron">
            <p class="lead">Este es el legado del Bicentenario para:</p>
            <h1 class="nombre"><%= nombre %></h1>
        </div>

        <div class="u-marginBl" style="margin-left: -40px">
            <img class="img-responsive center-block" src="images/minita.png" alt="minita" style="max-width: 180px;">
        </div>

        <p class="text-center lead">Compartí tu legado <a class="" href="#"><i class="fa fa-fw fa-facebook"></i></a> <a class="" href="#"><i class="fa fa-fw fa-twitter"></i></a></p>
    </div>

    <div class="HolyGrail-right" style="background-color: #1F243A;">
        <img class="img-responsive center-block u-paddingAl" src="images/bicentenario.png" alt="Bicentenario" style="max-width: 260px;">

        <div class="section text-center">
            <p class="h3">Tenes más derechos gracias a:</p>
            <p class="h1"><%= leyes.length %> leyes</p>
            <a href="#" class="btn btn-lg btn-primary">Conocé el resto de las leyes</a>
        </div>

        <div class="section">
            <p class="h3 text-center u-marginBl">Tus nuevos derechos abarcan:</p>

            <ul class="list-unstyled u-marginBn">
            <% leyes.forEach(function (ley) { %>
                <li class="u-marginBs"><i class="fa fa-circle-o" style="color: <%= ley.color %>;"></i> <%= ley.title %></li>
            <% }); %>
            </ul>
        </div>

        <div class="section text-center">
            <p class="h3">Asi como vos, hay otros</p>
            <p class="h1"><%= comparten %></p>
            <p class="h3">Ciudadanos que adquirieron <br> estos mismos derechos</p>
        </div>

        <div class="section">
            <p class="h3 text-center u-marginBl">Cuando adquiriste <br> estos derechos?</p>

            <% fechas.forEach(function (fecha) { %>
            <div class="progress u-marginBm">
                <div class="progress-bar" style="width: <%= fecha.percentage %>%;">
                    <span><%= fecha.year %></span>
                </div>
                <span class="pull-left"><%= fecha.quantity %></span>
            </div>
            <% }); %>
        </div>

    </div>
</section>