<% layout('../../../layouts/default') %>
<section id="js-category-page" class="HolyGrail-body">
	<div class="HolyGrail-left alt-body category-page-side">

		<img class="img-responsive u-paddingAl" src="images/Bicentenario.png" alt="Bicentenario">

		<div class="section">
			<p class="h3">Tenes más derechos gracias a:</p>
			<p class="h2"><%= leyes.length %> leyes</p>
		</div>

		<div class="section">
			<p class="h3 u-marginBl">Tus nuevos derechos abarcan:</p>

			<%- partial('categoryList', {
				categorias: categorias
			,	type: 'item'
			}) %>
		</div>

		<div class="section">
			<p class="h3">Asi como vos, hay otros</p>
			<p class="h2"><%= comparten %> ciudadanos</p>
			<p class="h3">que adquirieron estos derechos</p>
			<a href="/conoce-las-leyes" class="btn btn-lg btn-block btn-primary">Conocé el resto de las leyes</a>
		</div>

		<div class="section">
			<p class="h3 u-marginBl">¿Cuando los adquiriste?</p>

			<%- partial('fechaProgress', fechas) %>
		</div>
	</div>

	<div class="HolyGrail-content u-posRelative category-page-main">

		<% include createNewLink %>

		<div class="text-center jumbotron u-paddingHn">
			<p class="lead">Este es el legado del Bicentenario para:</p>
			<h1><%= nombre %></h1>
		</div>

		<%- partial('categoryList', {
			categorias: categorias
		,	type: 'circle'
		}) %>

		<div class="character" style="margin-bottom: 90px;">
			<div class="body-part body-part-cabeza">
				<span class="character-limb character-limb-cabeza">
					<%- partial('../../../characters/cabeza/' + personaje.cabeza + '.svg') %>
				</span>
			</div>
			<div class="body-part body-part-cuerpo">
				<span class="character-limb character-limb-cuerpo">
					<%- partial('../../../characters/cuerpo/' + personaje.cuerpo + '.svg') %>
				</span>
			</div>
			<div class="body-part body-part-piernas">
				<span class="character-limb character-limb-piernas">
					<%- partial('../../../characters/piernas/' + personaje.piernas + '.svg') %>
				</span>
			</div>
		</div>

		<p class="text-center lead">
			Compartí el legado
			<a class="u-inlineBlock u-paddingAs link-circle link-facebook" href="#" data-share="facebook">
				<i class="fa fa-fw fa-facebook"></i>
			</a>
			<a class="u-inlineBlock u-paddingAs link-circle link-twitter" href="https://twitter.com/intent/tweet?text=Este es mi legado del @Bicentenario_uy. Avances legislativos de este siglo que ampliaron mis derechos.&amp;url=<%= url %>&amp;via=DATAuy">
				<i class="fa fa-fw fa-twitter"></i>
			</a>
		</p>
	</div>

	<%- partial('categoryList', {
		categorias: categorias
	,	type: 'details'
	}) %>
</section>
