<% layout('../../../layouts/default') %>
<section class="HolyGrail-body Aligner">
	<div class="container u-paddingVl">
		<div class="row">
			<form action="/mis-leyes" method="GET" class="col-md-8 col-md-offset-2">
				<div class="row u-marginBl">
					<div class="col-sm-6">
						<h2 class="u-marginBl">Completá tus datos</h2>
						<div class="form-group">
							<label for="nombre">Nombre</label>
							<input type="text" name="nombre" class="form-control" id="nombre" value="<%= user.name %>">
						</div>
						<div class="form-group">
							<label for="edad">Edad</label>
							<input type="number" name="edad" class="form-control" id="edad" value="<%= user.age %>">
						</div>
						<div class="form-group">
							<label for="sexo">Sexo</label>
							<select name="sexo" class="form-control" id="sexo">
								<option value=""></option>
								<option value="m" <%= user.gender === 'male' ? 'selected' : '' %>>Hombre</option>
								<option value="f" <%= user.gender === 'female' ? 'selected' : '' %>>Mujer</option>
								<option value="otro">Otro</option>
							</select>
						</div>
						<div class="form-group">
							<label for="estado-civil">Estado civil</label>
							<select name="estado-civil" class="form-control" id="estado-civil">
								<option value=""></option>
								<option value="soltero" <%= user.status ? 'selected' : '' %>>Soltero</option>
								<option value="concubinato" <%= user.status === 'Engaged' ? 'selected' : '' %>>Concubinato</option>
								<option value="casado" <%= user.status === 'Married' ? 'selected' : '' %>>Casado</option>
								<option value="viudo" <%= user.status === 'Widowed' ? 'selected' : '' %>>Viudo</option>
							</select>
						</div>
						<div class="form-group">
							<label for="residencia">País de residencia</label>
							<select name="residencia" class="form-control" id="residencia">
								<option value="uruguay">Uruguay</option>
								<option value="extranjero" <%= user.location && !~user.location.indexOf('Uruguay') ? 'selected' : '' %>>Extranjero</option>
							</select>
						</div>

						<label class="control control-checkbox">
							<input type="checkbox" name="discapacidad" value="si">
							<span class="control-indicator"></span>
							Incluir leyes sobre discapacidad.
						</label>

						<label class="control control-checkbox">
							<input type="checkbox" name="identidad-genero" value="si">
							<span class="control-indicator"></span>
							Incluir leyes de identidad de genero.
						</label>

						<label class="control control-checkbox">
							<input type="checkbox" name="identidad-racial" value="si">
							<span class="control-indicator"></span>
							Incluir leyes sobre identidad racial.
						</label>

						<label class="control control-checkbox">
							<input type="checkbox" name="hijos" value="si">
							<span class="control-indicator"></span>
							Incluir leyes sobre hijos.
						</label>
					</div>

					<div class="col-sm-6" style="padding: 0 80px;">
						<h2 class="text-center u-marginBl">Armá tu avatar</h2>

						<% for (limb in bodyParts) { %>

							<%- partial('bodyPart', {
								type: limb
							,	count: bodyParts[limb]
							}) %>

						<% } %>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-6 col-sm-offset-3">
						<button type="submit" class="btn btn-default btn-lg btn-block">Continuar</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>
