<% layout('../../../layouts/default') %>
<section class="HolyGrail-body Aligner">
	<div class="container u-paddingVl">
		<div class="row">
			<form action="/mis-leyes" method="GET" class="col-md-8 col-md-offset-2">
				<div class="row u-marginBl">
					<div class="col-sm-6">
						<h2 class="u-marginBl">Completá tus datos</h2>

						<%- partial('input', {
							type: 'text'
						,	name: 'nombre'
						,	label: 'Nombre'
						,	value: user.name
						,	required: true
						}) %>

						<%- partial('input', {
							type: 'number'
						,	name: 'edad'
						,	label: 'Edad'
						,	value: user.age
						,	required: true
						}) %>

						<div class="form-group">
							<label for="sexo">Sexo</label>
							<select name="sexo" class="form-control" id="sexo" required>
								<option value=""></option>
								<option value="m" <%= user.gender === 'male' ? 'selected' : '' %>>Hombre</option>
								<option value="f" <%= user.gender === 'female' ? 'selected' : '' %>>Mujer</option>
								<option value="otro">Otro</option>
							</select>
						</div>

						<div class="form-group">
							<label for="residencia">País de residencia</label>
							<select name="residencia" class="form-control" id="residencia" required>
								<option value="uruguay">Uruguay</option>
								<option value="extranjero" <%= user.location && !~user.location.indexOf('Uruguay') ? 'selected' : '' %>>Extranjero</option>
							</select>
						</div>

						<%- partial('checkbox', {
							name: 'genero'
						,	label: 'Incluir leyes sobre identidad de género.'
						}) %>

						<%- partial('checkbox', {
							name: 'discapacidad'
						,	label: 'Incluir leyes sobre discapacidad.'
						}) %>

						<%- partial('checkbox', {
							name: 'identidad-racial'
						,	label: 'Incluir leyes sobre identidad racial.'
						}) %>

						<%- partial('checkbox', {
							name: 'hijos'
						,	label: 'Incluir leyes sobre hijos.'
						}) %>
					</div>

					<div class="col-sm-6">
						<h2 class="text-center u-marginBl">Armá tu avatar</h2>

						<% var items = []; %>

						<% for (limb in bodyParts) { %>

							<% items = bodyParts[limb]; %>

							<%- partial('bodyPart', {
								type: limb
							,	items: items
							,	selected: items[Math.floor(Math.random() * items.length)]
							}) %>

						<% } %>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-6 col-sm-offset-3">
						<button type="submit" class="btn btn-default btn-lg btn-block">Continuar</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>
