<li class="u-marginVm center-block category-<%= category.id %> category-circle category-circle-<%= category.size %> js-category-circle" data-id="<%= category.id %>">
  <span class="h1 u-marginVn" style="margin-top: -20px"><%= category.leyes.length %></span>
  <span class="h3 u-marginVn"><%= category.title %></span>
</li>
