<li class="u-inlineBlock u-marginHm category-<%= categoryListCircle.id %> category-circle category-circle-<%= categoryListCircle.size %> js-category-item" data-id="<%= categoryListCircle.id %>">
  <!-- <span><%= categoryListCircle.leyes.length %></span>
  <span><%= categoryListCircle.title %></span> -->
</li>
