<article class="u-marginVl u-paddingVm">
  <p class="u-marginBm">Promulgada &mdash; <time><%= law.fecha %></time></p>
  <h1 class="h3 u-marginVm">#<%= law.id %> &ndash; <%= law.title %></h1>
  <% law.articles.forEach(function (article, index) { %>
    <p class="<%= index > 2 ? 'hidden' : '' %>"><%= article %></p>
  <% }) %>
</article>
