<% layout('../../../layouts/default') %>
<%
  var selectedCategory = parseInt(selected.category)
    , selectedOrder = selected.order
    , selectedPage = selected.page;
%>
<section class="HolyGrail-body Aligner">
  <div class="container u-paddingVl">

    <img class="img-responsive center-block" src="images/Bicentenario.png" alt="Bicentenario">
    <h1 class="text-center u-marginTn u-marginBl">Conocé las leyes</h1>

    <form class="form" action="/conoce-las-leyes" method="GET">
      <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-2">
          <div class="form-group">
            <label for="orden">Ordenar por</label>
            <select id="orden" name="orden" class="form-control js-form-nav">
              <option value="fecha"<%= selectedOrder == 'fecha' ? 'selected' : '' %>>Fecha</option>
              <option value="nombre"<%= selectedOrder == 'nombre' ? 'selected' : '' %>>Nombre</option>
            </select>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="form-group">
            <label for="categoria">Filtrar por</label>
            <select id="categoria" name="categoria" class="form-control js-form-nav">
              <option value="">Todas</option>
              <% categorias.forEach(function (category) { %>
                <option value="<%= category.id %>" <%= category.id == selectedCategory ? 'selected' : '' %>>
                  <%= category.label %>
                </option>
              <% }) %>
            </select>
          </div>
        </div>
      </div>
    </form>
    <% if (leyes.length) { %>
      <%- partial("law", leyes) %>
    <% } else { %>
      <div class="text-center jumbotron u-marginAn">
        <p class="lead">No hay ninguna ley para mostrar.</p>
      </div>
    <% } %>

    <% if (paginas > 1) { %>
      <ol class="pagination pagination-lg pull-right u-marginAn">
        <% if (selectedPage > 1) { %>
          <!--<li><a href="#"><i class="fa fa-angle-left"></i></a></li>-->
        <% } %>
        <% for (var i = 1; i <= paginas; i++) { %>
        <li class="<%= i == selectedPage ? 'active' : '' %>"><a href="<%= path.replace('NUMBER', i) %>"><%= i %></a></li>
        <% } %>
        <% if (selectedPage < paginas) { %>
          <!--<li><a href="#"><i class="fa fa-angle-right"></i></a></li>-->
        <% } %>
      </ol>
    <% } %>
  </div>
</section>
