<% layout('../../../layouts/default') %>
<section class="HolyGrail-body">
	<div class="HolyGrail-left alt-body">

		<img class="img-responsive u-paddingAl" src="images/bicentenario.png" alt="Bicentenario">

		<div class="section">
			<p class="h3">Tenes más derechos gracias a:</p>
			<p class="h2"><%= leyes.length %> leyes</p>
		</div>

		<div class="section">
			<p class="h3 u-marginBl">Tus nuevos derechos abarcan:</p>

			<%- partial('categoryList', {
				categorias: categorias
			,	type: 'item'
			}) %>
		</div>

		<div class="section">
			<p class="h3">Asi como vos, hay otros</p>
			<p class="h2"><%= comparten %> ciudadanos</p>
			<p class="h3">que adquirieron estos mismos derechos</p>
			<a href="#" class="btn btn-lg btn-block btn-primary">Conocé el resto de las leyes</a>
		</div>

		<div class="section">
			<p class="h3 u-marginBl">Cuando adquiriste estos derechos?</p>

			<%- partial('fechaProgress', fechas) %>
		</div>
	</div>

	<div class="HolyGrail-content u-posRelative">

		<% include createNewLink %>

		<div class="text-center jumbotron u-marginBn u-paddingHn">
			<p class="lead">Este es el legado del Bicentenario para:</p>
			<h1><%= nombre %></h1>
		</div>

		<%- partial('categoryList', {
			categorias: categorias
		,	type: 'circle'
		}) %>

		<div class="character">
			<%- partial('../../../characters/cabeza/' + personaje.cabeza + '.svg') %>
			<%- partial('../../../characters/cuerpo/' + personaje.cuerpo + '.svg') %>
			<%- partial('../../../characters/piernas/' + personaje.piernas + '.svg') %>
		</div>

		<p class="text-center lead">Compartí el legado <a class="u-inlineBlock u-paddingAs link-circle link-circle-sm link-facebook" href="https://www.facebook.com/dialog/share?app_id=144441392317207&amp;display=popup&amp;href=<%= url %>&amp;redirect_uri=<%= url %>"><i class="fa fa-fw fa-facebook"></i></a> <a class="u-inlineBlock u-paddingAs link-circle link-circle-sm link-twitter" href="https://twitter.com/intent/tweet?text=<%= title %>&amp;url=<%= url %>&amp;via=hiroagustin"><i class="fa fa-fw fa-twitter"></i></a></p>
	</div>

	<%- partial('categoryList', {
		categorias: categorias
	,	type: 'details'
	}) %>
</section>
