<% layout('../../../layouts/default') %>
<section class="HolyGrail-body">
	<div class="HolyGrail-content u-posRelative" style="margin-right: 1px;">

		<div class="container-fluid">
			<div class="col-md-6 col-lg-4 col-lg-push-4">
				<div class="text-center jumbotron u-marginBn u-paddingHn">
					<p class="lead">Este es el legado del Bicentenario para:</p>
					<h1><%= nombre %></h1>
				</div>

				<svg class="center-block" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="250px" height="450px" viewBox="0 0 165.703 305.412" enable-background="new 0 0 165.703 305.412" xml:space="preserve">
					<path fill="#E79F3B" d="M134.136,152.146c0,0,1.093-79.445,0.848-92.265c-0.246-12.822,0.459-18.374-3.921-21.672 c-4.961-3.731-6.189-3.125-6.189-3.125s0.578-7.725-5.576-11.244c-6.157-3.519-38.124-7.427-54.444,1.178 c-14.686,7.741-14.686,7.741-15.669,28.606c-0.984,20.864-0.857,96.679-0.857,96.679"/>
					<path fill="#111415" d="M76.97,281.856c0.377,0,16.403,0,16.403,0l-1.32-12.821l-6.882,0.378l1.226,7.352 c0,0-9.899-0.188-9.427,4.714"/>
					<path fill="#111415" d="M114.663,281.856c-0.376,0-16.402,0-16.402,0l-2.247-13.01l6.881,0.378l2.343,7.54 c0,0,9.897-0.188,9.426,4.714"/>
					<polygon fill="#EDD8D3" points="84.041,255.962 86.774,270.26 92.099,269.472 90.502,255.366 "/>
					<polygon fill="#EDD8D3" points="94.976,255.366 96.766,269.506 102.517,270.26 101.386,255.962 "/>
					<path fill="#EDD8D3" d="M135.773,112.187c0-3.545-2.839-6.417-6.369-6.491V48.499c0-9.746-7.655-17.647-17.098-17.647H70.145 c-9.443,0-17.099,7.901-17.099,17.647v57.306c-0.395-0.074-0.799-0.122-1.216-0.122c-3.593,0-6.505,2.912-6.505,6.503 c0,3.593,2.912,6.506,6.505,6.506c0.417,0,0.821-0.048,1.216-0.122v1.914c0,9.492,11.937,17.213,21.041,17.607 c1.863,2.239,0,80.034,0,80.034h32.832v-80.022c9.208-0.277,22.485-8.049,22.485-17.619v-1.806 C132.934,118.604,135.773,115.734,135.773,112.187z"/>
					<path fill="#E79F3B" d="M121.088,108.777c0,0,11.648-27.311,6.975-45.815c-0.686-2.718-16.355,21.032-45.013,21.15 c-28.658,0.118-26.366,0-26.366,0s-0.83,36.354,1.432,39.936c2.262,3.583-6.94-5.419-6.94-5.419l-0.855-70.561l4.738-13.893 l21.479-8.569l42.557,2.901l11.304,14.459l1.625,51.671C132.023,94.637,126.745,104.251,121.088,108.777z"/>
					<path fill="#EDD8D3" d="M36.811,175.039c0,1.307-1.058,2.365-2.366,2.365l0,0c-1.307,0-2.365-1.059-2.365-2.365v-13.563 c0-1.308,1.059-2.366,2.365-2.366l0,0c1.308,0,2.366,1.059,2.366,2.366V175.039z"/>
					<path fill="#EDD8D3" d="M36.616,187.68l0.195-21.21l-11.394-3.336l-4.82,7.2l-2.757,7.069c0,0,9.081,2.758,10.972,3.302 c1.966,0.567,1.306,1.038,1.212,5.938"/>
					<path fill="#EDD8D3" d="M52.054,207.959c-6.74,0-12.106-2.103-15.953-6.243c-6.767-7.288-6.042-18.182-6.009-18.641l6.47,0.48 l-3.235-0.24l3.235,0.231c-0.006,0.083-0.528,8.596,4.316,13.782c2.568,2.75,6.329,4.144,11.176,4.144 c4.194,0,11.695-6.54,15.751-15.925c4.572-10.581,9.521-15.121,9.729-15.309l4.345,4.814c-0.027,0.024-4.167,3.917-8.121,13.066 C68.871,199.431,59.54,207.959,52.054,207.959z"/>
					<path fill="#EDD8D3" d="M36.599,175.039c0,1.307-1.058,2.365-2.365,2.365l0,0c-1.308,0-2.366-1.059-2.366-2.365v-13.563 c0-1.308,1.059-2.366,2.366-2.366l0,0c1.307,0,2.365,1.059,2.365,2.366V175.039z"/>
					<path fill="#EDD8D3" d="M26.886,163.615c1.255,0.359,1.982,1.669,1.621,2.926l0,0c-0.359,1.255-1.668,1.984-2.925,1.623 l-13.039-3.735c-1.256-0.361-1.982-1.67-1.623-2.928l0,0c0.36-1.256,1.67-1.982,2.924-1.623L26.886,163.615z"/>
					<path fill="#EDD8D3" d="M25.001,168.884c1.254,0.359,1.98,1.668,1.62,2.925l0,0c-0.36,1.257-1.669,1.983-2.925,1.623l-13.039-3.735 c-1.257-0.361-1.983-1.671-1.624-2.927l0,0c0.361-1.256,1.671-1.982,2.926-1.623L25.001,168.884z"/>
					<path fill="#EDD8D3" d="M23.493,174.163c1.255,0.36,1.981,1.669,1.62,2.926l0,0c-0.359,1.256-1.668,1.983-2.925,1.622l-13.039-3.735 c-1.256-0.36-1.982-1.669-1.623-2.927l0,0c0.36-1.256,1.67-1.981,2.925-1.622L23.493,174.163z"/>
					<path fill="#EDD8D3" d="M36.404,187.68l0.195-21.21l-11.394-3.336l-4.82,7.2l-2.758,7.069c0,0,9.082,2.758,10.972,3.302 c1.967,0.567,1.306,1.038,1.212,5.938"/>
					<circle fill="#060808" cx="76.515" cy="97.086" r="3.051"/>
					<circle fill="#060808" cx="104.584" cy="97.086" r="3.05"/>
					<path fill="#FFFFFF" d="M90.55,124.052c4.274,0,7.739-3.466,7.739-7.739H82.812C82.812,120.586,86.275,124.052,90.55,124.052z"/>
					<path fill="#060808" d="M112.063,88.241c-0.773-1.417-1.794-2.32-3.036-2.682c-2.103-0.615-4.182,0.513-4.202,0.523l-0.485-0.875 c0.099-0.055,2.45-1.338,4.958-0.612c1.51,0.438,2.736,1.503,3.643,3.166L112.063,88.241z"/>
					<path fill="#060808" d="M70.781,89.685l-0.885-0.466c0.053-0.1,1.319-2.461,3.814-3.225c1.503-0.461,3.111-0.24,4.781,0.656 l-0.473,0.881c-1.425-0.764-2.776-0.958-4.016-0.58C71.902,87.593,70.792,89.664,70.781,89.685z"/>
					<path fill="#060808" d="M106.889,96.016c0,0,2.578-0.315,3.566-0.629c1.63-0.517-3.381,3.457-3.381,3.457h-1.063L106.889,96.016z"/>
					<path fill="#060808" d="M74.476,95.751c0,0-2.577-0.315-3.565-0.629c-1.629-0.518,3.378,3.456,3.378,3.456h1.067L74.476,95.751z"/>
					<rect x="73.845" y="157.793" fill="#D52879" width="34.691" height="58.241"/>
					<polygon fill="#1A3067" points="72.969,216.643 72.969,228.432 84.041,264.507 91.67,264.507 90.55,237.56 93.373,237.125  93.373,264.507 104.583,264.507 108.543,233.212 106.918,214.418 "/>
					<path fill="#EDD8D3" d="M106.918,212.348c0,1.666,1.349,3.018,3.017,3.018h0.342c1.664,0,3.015-1.352,3.015-3.018v-17.593 c0-1.667-1.351-3.018-3.015-3.018h-0.342c-1.668,0-3.017,1.351-3.017,3.018V212.348z"/>
					<path fill="#EDD8D3" d="M100.502,194.055c0,1.281,1.038,2.319,2.319,2.319h4.795c1.281,0,2.319-1.038,2.319-2.319l0,0 c0-1.278,1.62-2.317,0.342-2.317h-7.457C101.54,191.738,100.502,192.777,100.502,194.055L100.502,194.055z"/>
					<path fill="#EDD8D3" d="M100.559,199.473c0,1.281,1.036,2.317,2.317,2.317h4.796c1.282,0,2.318-1.036,2.318-2.317l0,0 c0-1.279,1.622-2.317,0.342-2.317h-7.457C101.595,197.156,100.559,198.194,100.559,199.473L100.559,199.473z"/>
					<path fill="#EDD8D3" d="M100.559,204.892c0,1.281,1.036,2.317,2.317,2.317h4.796c1.282,0,2.318-1.036,2.318-2.317l0,0 c0-1.279,1.622-2.317,0.342-2.317h-7.457C101.595,202.575,100.559,203.613,100.559,204.892L100.559,204.892z"/>
					<path fill="#EDD8D3" d="M117.953,216.035c-3.128,0-5.878-0.867-7.654-1.829l3.064-5.717c0.779,0.408,7.803,3.75,13.422-3.963 c6.624-9.097,3.94-16.291,0.693-18.688c-3.859-2.852-17.165-9.469-21.965-11.778l2.812-5.845 c0.726,0.351,17.869,8.61,23.006,12.405c6.584,4.862,9.065,16.233,0.696,27.725C127.731,214.239,122.451,216.035,117.953,216.035z"/>
					<polyline fill="#D52879" points="74.598,167.032 60.082,187.68 72.713,195.313 84.041,178.804 104.01,178.804 114.681,184.566 121.43,169.291 102.517,165.055 "/>
				</svg>

				<p class="text-center lead">Compartí el legado <a class="u-inlineBlock u-paddingAs link-circle link-circle-sm link-facebook" href="https://www.facebook.com/dialog/share?app_id=144441392317207&amp;display=popup&amp;href=<%= url %>&amp;redirect_uri=<%= url %>"><i class="fa fa-fw fa-facebook"></i></a> <a class="u-inlineBlock u-paddingAs link-circle link-circle-sm link-twitter" href="https://twitter.com/intent/tweet?text=<%= title %>&amp;url=<%= url %>&amp;via=hiroagustin"><i class="fa fa-fw fa-twitter"></i></a></p>
				<p class="text-center">
					<a href="/ingresar" class="btn btn-primary btn-lg">Conocé tú legado</a>
				</p>
			</div>

			<div class="col-md-6 col-lg-4 col-lg-pull-4">
				<ul class="list-unstyled u-marginBn">
					<%- partial('category', categoriesSet1) %>
				</ul>
			</div>

			<div class="col-lg-4">
				<ul class="list-unstyled u-marginBn">
					<%- partial('category', categoriesSet2) %>
				</ul>
			</div>
		</div>

		<div id="js-law-list" class="alt-body slider slide-left u-posAbsoluteCenter u-paddingAl" style="overflow: auto;">

			<a href="#js-law-list" class="Aligner link-circle link-circle-sm link-close pull-right" data-toggle="slide-left">
				<i class="fa fa-fw fa-lg fa-times"></i>
			</a>

			<% categorias.forEach(function (category) { %>
			<div id="js-category-page-<%= category.id %>" class="js-category-page hidden">
				<p class="h1 u-marginVl"><%= category.title %></p>
				<ul class="list-unstyled">
				<% category.leyes.forEach(function (ley) { %>
					<li class="u-marginVl u-paddingVm">
						<p class="u-marginBm">Promulgada &mdash; <time><%= ley.fecha %></time></p>
						<p class="lead u-marginBm"><%= ley.description %></p>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse nec enim lobortis, interdum nisi vel, feugiat metus. Suspendisse convallis, nisl sed sagittis aliquam, purus mi mollis felis, nec molestie ligula mi et felis. Vivamus purus ante, cursus in posuere at, bibendum eu tortor. Integer ut libero metus. Curabitur auctor mauris lorem. Sed nec nulla non nibh varius ultricies. Sed vitae felis sit amet tortor suscipit eleifend ut auctor purus. Vivamus interdum enim non libero faucibus, eget fringilla mi porttitor. Sed gravida ligula vel nunc malesuada rhoncus. In dignissim placerat quam nec ornare. Suspendisse varius dui et rhoncus pulvinar. Donec a enim massa. Mauris non facilisis orci. Sed varius sapien sed nunc suscipit hendrerit. Ut suscipit lacus justo, id scelerisque nulla elementum non. Sed eget pharetra magna, ut viverra sapien.</p>
					</li>
				<% }) %>
				</ul>
			</div>
			<% }); %>
		</div>
	</div>

	<div class="HolyGrail-right alt-body">
		<img class="img-responsive center-block u-paddingAl" src="images/bicentenario.png" alt="Bicentenario" style="max-width: 260px;">

		<div class="section text-center">
			<p class="h3">Tenes más derechos gracias a:</p>
			<p class="h1"><%= leyes.length %> leyes</p>
			<a href="#" class="btn btn-lg btn-primary">Conocé el resto de las leyes</a>
		</div>

		<div class="section">
			<p class="h3 text-center u-marginBl">Tus nuevos derechos abarcan:</p>
			<ul class="list-unstyled u-marginBn">
			<% categorias.forEach(function (category) { %>
				<li class="u-marginBs category-<%= category.id %>"><i class="fa fa-circle-o"></i> <%= category.title %></li>
			<% }); %>
			</ul>
		</div>

		<div class="section text-center">
			<p class="h3">Asi como vos, hay otros</p>
			<p class="h1"><%= comparten %></p>
			<p class="h3">Ciudadanos que adquirieron <br> estos mismos derechos</p>
		</div>

		<div class="section">
			<p class="h3 text-center u-marginBl">Cuando adquiriste <br> estos derechos?</p>
			<% fechas.forEach(function (fecha) { %>
			<div class="progress u-marginBm">
				<div class="progress-bar" style="width: <%= fecha.percentage %>%;">
					<span><%= fecha.year %></span>
				</div>
				<span class="pull-left"><%= fecha.quantity %></span>
			</div>
			<% }); %>
		</div>
	</div>
</section>
